{% extends "index.html" %}

{% block contenido %}
<h2>Iniciar Sesión</h2>
<form method="post">
  {% csrf_token %}
  {% if form.errors %}
    <p class="text-danger">Usuario o contraseña incorrectos</p>
  {% endif %}

  <label for="id_username">Usuario: </label>
  <input type="text" name="username" id="id_username" required><br/>

  <label for="id_password">Contraseña: </label>
  <input type="password" name="password" id="id_password" required><br/>

  <button type="submit">Entrar</button>
</form>

{% endblock %}
