{% extends "index.html" %}

{% block contenido %}
<h2>Cambiar Contraseña</h2>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <p>
    <label for="id_old_password">Contraseña actual: </label>
    <input id="id_old_password" name="old_password" type="password" required><br/>
  </p>

  <p>
    <label for="id_new_password1">Contraseña nueva: </label>
    <input id="id_new_password1" name="new_password1" type="password" required><br/>
  </p>

  <p>
    <label for="id_new_password2">Confirmar Contraseña: </label>
    <input id="id_new_password2" name="new_password2" type="password" required><br/>
  </p>

  <button type="submit">Actualizar</button>
</form>

{% endblock %}
